main {
  width: 100%;
  height: fit-content;
}

body {
  background: linear-gradient( rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75) ), url('./assets/pugetSound.jpg');  background-attachment:fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

.title {
  font-size: 80px;
  text-align: center;
  margin-top: 15%;
  color: #A9A9A9;
  text-shadow: 2px 2px 8px gray;
}


.navigationBar {
  text-align: center;
  margin: 20px 0 0 ;
  padding: 10px 0;
  border: 5px, 5px, 5px, 5px;
  border-color: #A9A9A9;
}

.navigationBar,
 ul{
  list-style: none;
  margin: 0 2px;
  padding: 0;
}

.navigationBar li{
  display: inline-block;
  padding: 8px 8px;
}

.navigationBar, 
.a {
  font-weight: normal;
  text-decoration: none;
  margin-top: 5%;
  padding: 10px 10px;
  font-size: 30px;
  color: #A9A9A9;
  margin-bottom: 15%;
}

.footer {
  border-top: solid;
  border-color: #A9A9A9;
  text-align: center;
  color: #A9A9A9;
}

.footer, .footerDiv {
  border-top: solid;
  border-color: #A9A9A9;
  color: #A9A9A9;
  text-align: center;
  // height: 50px;
}